$color: rgba(255, 255, 255, 0.7);
$color1: rgba(0, 0, 0, 0.2);
$fz: 30px;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*head-------------------------------------------------------------------start*/
header{
  margin-top: 10px;
  width: 1920px;
  height: 40px;
  background-color: #f0feeb;
  .img{
    display: inline-block;
    height: 30px;
    margin-left: 54px;
    margin-top: 5px;
    float: left;
  }
  .word{
    display: inline-block;
    height: 40px;
    width: 300px;
    float: left;
    margin-left: 10px;
    line-height: 40px;
    font-size: 15px;
    color: #7ec164;
  }
  .right{
    float: right;
    height: 100%;
    .dhq{
      color: #7ec164;
      line-height: 40px;
      float: left;
      margin-right: 63px;
    }
    .exit{
      color: #7fbdf0;
      line-height: 40px;
      margin-right:10px;
      float: right;
      font-weight: bold;
    }
  }
}
/*head--------------------------------------------------------------------end*/


/*nav------------------------------------------------start*/
.z-nav {
  margin-top: 10px;
  width: 1200px;
  height: 50px;
  color: #000;
  padding-top: 19px;
  box-sizing: border-box;
  padding-left: 0px;
  li {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 24px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    float: left;
    border-bottom: 0px solid #000;
    cursor: pointer;
    &:nth-child(1){
      width: 70px;
    }
    &:nth-child(2){
      width: 85px;
    }
    &:nth-child(3){
      margin-left: 21px;
    }
    &:nth-child(4){
      margin-left: 14px;
    }
    &:nth-child(5){
      margin-left: 1px;
    }
    &:nth-child(6){
      margin-left: -7px;
    }
    &:nth-child(7){
      margin-left: -3px;
    }
    &+li{
      margin-left: 15px;
    }
    span {
      color: red;
      font-size: 12px;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  margin-top: -8px;
  border-bottom: 1px solid $color1;
}

.active {
  border: 1px solid $color1;
  border-bottom: 0px solid #000;
  color: #7fbdf0;
  border-radius: 5px 5px 0 0;
  font-weight: bold !important;
}

/*nav------------------------------------------------end*/

/*calculation---------start*/
.cal {
  display: none;
  width: 300px;
  height: 389px;
  background-color: black;
  margin: 10px auto;
  ol {
    position: absolute;
    width: 110px;
    height: 30px;
    margin-top: 10px;
    li {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      float: left;
      margin-left: 10px;
      &:nth-child(1) {
        background-color: red;
      }
      &:nth-child(2) {
        background-color: orange;
      }
      &:nth-child(3) {
        background-color: green;
      }
    }
  }
}

#res {
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: #3a3b38;
  text-align: right;
  font-size: 50px;
  padding-right: 20px;
  line-height: 40px;
  box-sizing: border-box;
  border-top: none;
}

.cal input {
  display: inline-block;
  width: 75px;
  height: 60px;
  float: left;
  color: $color;
  background-color: #6b6c69;
  border: 1px solid #000;
  border-left: none;
  font-size: $fz;
  &:focus {
    outline: none;
  }
  &:active {
    opacity: 0.8;
  }
}

#zero {
  width: 150px;
}

#reset, #reverse, #per {
  background-color: #4d4e4b;
}

#div, #mul, #reduce, #add, #equal {
  background-color: #ff9d2a;
  border-right: none;
}

#foot {
  text-align: left;
  padding: 10px 15px 5px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  #demo {
    float: left;
    width: 210px;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: red;
    font-size: 20px;
    padding-top: 15px;
  }
}

#demo {
  float: left;
  width: 210px;
  height: auto;
  overflow: hidden;
  text-align: center;
  color: red;
  font-size: 20px;
  padding-top: 15px;
}

.box {
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 50px;
  padding: 1em;
  position: relative;
  color: whitesmoke;
  top: -450px;
  left: 100px;
  vertical-align: middle;
  text-align: center;
}

.loading {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  pointer-events: none;
  border: .2em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.2em;
    left: -.2em;
    border: .2em solid currentcolor;
    border-radius: 50%;
    opacity: .5;

  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.none {
  display: none;
}

/*calculation-----------------------------------------------------------------------end*/

.money {
  width: 100%;
  height: 100%;
}

/*form-----------------------------------start*/

.form {
  margin-top: 18px;
  width: 1200px;
  div {
    display: inline-block;
    margin-left: 23px;
  }
  div + div {
    margin-left: 20px;
  }
  .jy, .fy {
    width: 120px;
    height: 50px;
    select {
      width: 115px;
      height: 27px;
      font-size: 14px;
      padding-left: 4px;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1.5px solid $color1;
    }
  }
  .date {
    font-size: 13px;
    font-weight:bold;
    margin-left: 21px;
    span{
      margin-right: 10px;
    }
    input {
      width: 154px;
      height: 23px;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      border-radius: 3px;
      border: 1px solid $color1;
    }
  }
  .cxtb {
    margin-left: 6px;
    span {
      display: inline-block;
      width: 50px;
      height: 28px;
      font-size: 13px;
      line-height: 28px;
      background-color: #4ca2e9;
      color: #fff;
      border-radius: 3px;
      text-align: center;
      &:nth-child(2){
        margin-left: -1px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .text>span{
    margin-left: -19px;
    font-size: 14px;
  }
}

/*form-----------------------------------end*/

/*table----------------------------------start*/

.table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 14px;
  margin-top: -5px;
  width: 1886px;
  thead > tr > td {
    border-bottom: 1px solid $color1;
    background-color: #f4f4f4;
    height: 36px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bolder;
    &:nth-child(1){
      width: 111px;
      padding-left: 5px;
    }
    &:nth-child(2){
      width: 99px;
    }
    &:nth-child(3){
      width:91px;
    }
    &:nth-child(4){
      width:74px;
    }
    &:nth-child(5){
      width:98px;
    }
    &:nth-child(6){
      width:91px;
    }
    &:nth-child(7){
      width:112px;
    }
    &:nth-child(8){
      width:117px;
    }
    &:nth-child(9){
      width:156px;
    }
    &:nth-child(10){
      width:80px;
    }
    &:nth-child(11){
      width:80px;
    }
    &:nth-child(12){
      width:110px;
    }
    &:nth-child(13){
      width:150px;
    }
    &:nth-child(14){
      width:140px;
    }
    &:nth-child(15){
      width:150px;
    }
    &:nth-child(16){
      width:45px;
    }
  }

  #tb tr:nth-child(1){
    border-top: none;
  }
  #tb tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 37px;
    font-size: 13px;
    font-weight: 400;
  }
  #tb tr td:nth-child(1) {
    color: #4ca2e9;
    font-weight: bold;
    padding-left: 5px;
  }
  #tb tr td:nth-child(16) {
    color: #4ca2e9;
    font-weight: bold;
  }
}

.page {
  width: 100%;
  margin-left:1524px;
  button {
    display: inline-block;
    width: 50px;
    outline: none;
    color: #4ca2e9;
    background-color: white;
    border-style: none;
  }
}

/*table----------------------------------end*/
